*{
	margin:0;
	padding:0;
	list-style:none;
	}
	
body {
  background: #0c739f linear-gradient( to bottom,
    #128aa7 ,  #128aa7 30px,
    #5ef0ff 30px, #5ef0ff 31px,
    #10cde1 31px, #fff 175px,
    #40c6d3 175px, #0c739f 1020px);
    background-repeat: no-repeat;
	height: 1020px;
}
.main{
	margin: 0 auto;
	width: 1000px;
	height: 950px;
	background-color:#ffffff; 
	box-shadow: 0 8px 13px -4px rgba(0,0,0,1);
}

	.header{
	background-color: #ffffff;
	height: 175px;
	display:flex;
	float:left;
	}
	
	.header img {
		padding-left:30px;
	}
	
	#contacts {
	padding-left:500px;
	padding-top: 10px;
	overflow:hidden;
	font-family:"Tahoma";
	font-size: 12px;
	color:#5fa5bb;
	line-height: 17px;
	}

							/* buttoms countries */
	
	.countries{
	float:right;
	clear:right;
	margin-top:25px;
	}
	
	.countries a {
    display:inline-block;
	font-family:"Tahoma";
	font-size:10px;
	color:#128aa7;
	width:65px;
	text-align:center;
}

.countries img{
	padding:0;
}

#border{
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

													/* выпадающее меню */
   
.menu{
	background:linear-gradient(to top, #313131, #373737);
	display:flex;
	justify-content:space-around;
	padding:0 60px 0 60px;
	border-bottom:1px solid #000000;
	box-shadow: 0 3px 10px -2px rgba(0,0,0,1);
	margin-top:-5px;
}

.menu_drop{
	position:absolute;
	background:linear-gradient(to top, #313131, #373737);
	top:30px;
	display:none;
	box-shadow: 0px 2px 4px 1px rgba( 0,0,0,1);
}

.menu a{
	color:white;
	display:block;
	height:30px;
	font-family:"Tahoma";
	font-size:15px;
	text-decoration:none;
	line-height:30px;
	text-align:center;
	padding:0 10px 0 10px;
}

.menu .menu_link:hover .menu_drop {
	display:block;
	text-decoration: underline;
}

.menu .menu_drop a{
	width:135px;
	padding-left:10px;
	text-align:left;
}

.menu_link{
position:relative;
}
						

									/* контент */


	.left_sidebar{
	background-color: #edeef0;
	float:left;
	width: 25%;
	height: 506px;
	margin-top:4px;
	}
	
	.center_sidebar{
	background-color: #ffffff;
	float: left;
	width: 50%;
	height: 506px;
	margin-top:4px;
	}
	
	.right_sidebar{
	float: right;
	background-color: #edeef0;
	color: white;
	width: 25%;
	height: 506px;
	margin-top:4px;
	overflow:hidden;
	}
	
	h1{
	font-family:"Tahoma";
	font-size:24px;
	color:#424c43;
	text-align:center;
	}
	
	p{
	text-align:center;
	color:#424c43;
	font-family:"Tahoma";
	font-size:18px;
	}
	
	
									/* footer*/
	.footer{
     width: 100%;
     height: 30px;	
	text-align:center;
	}
	
	.footer span{
	font-family:"Tahoma";
	font-size:16px;
	color:white;
	line-height:40px;
	}
	
	
